<h1 style="text-align: center;">Productos</h1>
<ul>
  <div class="container-fluid">
    <div
      class="row"
      style="display: flex;justify-content: center;align-items: center;"
    >
      {{#each products}}
        <div class="card col-3" style="width: 18rem; margin: 15px;">
          <div class="card-header">
            {{title}}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Description: {{description}}</li>
            <li class="list-group-item">Category: {{category}}</li>
            <li class="list-group-item">Price: ${{price}}</li>
            <li class="list-group-item">Stock: {{stock}}</li>
            <li class="list-group-item">Code: {{code}}</li>
            <li class="list-group-item">
              <a href="/products/{{_id}}">Detalles</a>
              <form method="post" action="/products/{{_id}}/add-to-cart">
                <button type="submit">Agregar al carrito</button>
              </form>
            </li>
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
</ul>