<h1 style="text-align: center;">Productos en Tiempo Real</h1>
<ul>
  <div class="container-fluid">
    <div
      class="row"
      id="card-container"
      style="display: flex;justify-content: center;align-items: center;"
    >
      {{#each products}}
        <div
          class="card col-3"
          style="width: 18rem; margin: 15px;"
          id="{{code}}"
        >
          <div class="card-header">
            {{title}}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Descripción: {{description}}</li>
            <li class="list-group-item">Categoría: {{category}}</li>
            <li class="list-group-item">Precio: ${{price}}</li>
            <li class="list-group-item">Stock: {{stock}}</li>
            <li class="list-group-item">Código: {{code}}</li>
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
</ul>

<div class="container-fluid">
  <div
    class="row"
    style="display: flex;justify-content: center;align-items: center;"
  >
    <div class="col-8">
      <form id="product-form" class="row gx-3 gy-2">
        <div class="col-md-6">
          <label for="title" class="form-label">Título:</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="description" class="form-label">Descripción:</label>
          <textarea
            id="description"
            name="description"
            class="form-control"
            required
          ></textarea>
        </div>
        <div class="col-md-6">
          <label for="category" class="form-label">Categoría:</label>
          <select id="category" name="category" class="form-select" required>
            <option value="Tech">Tech</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label">Precio:</label>
          <input
            type="number"
            id="price"
            name="price"
            class="form-control"
            min="0"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="stock" class="form-label">Stock:</label>
          <input
            type="number"
            id="stock"
            name="stock"
            class="form-control"
            min="0"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="code" class="form-label">Código:</label>
          <input
            type="text"
            id="code"
            name="code"
            class="form-control"
            required
          />
        </div>
        <div
          class="col-12"
          style="padding-top: 15px; display: flex; justify-content: center; align-items: center;"
        >
          <button type="submit" class="btn btn-primary">Subir Producto</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"
></script>
<script type="module" src="/js/realTimeProducts.js"></script>